.loader-layer {

  @extend %full-screen;
  z-index: 10000;

  .loader-layer-bg {
    @extend %full-screen;
    z-index: 1;
    background-color: #fff;
    opacity: 0.5;
  }
}

.spinner-container {
  @include complete-spinner();
}